.container{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 503px;
    height: 53px;
}

.rectangle{
    z-index: 1;
    position: absolute;
    top: 2px;
    left: 8px;
    background: #EAEAEA;
    transform: rotate(45deg);
    width: 11px;
    height: 11px;
}

.content{
    z-index: 2;
    background: #EAEAEA;
    width: 100%;
    min-height: 46px;
    display: flex;
    align-items: center;
}

.status{
    padding: 0 12px;
    font-size: 14px;
    line-height: 22px;
    color: #404040;
}