.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gridBlock{
    display: grid;
    grid-template-columns: minmax(216px, 1fr) minmax(max-content, 1fr) 1fr;
    column-gap: 18px;
    align-items: center;
}

.name{
    font-size: 21px;
    line-height: 19px;
    color: #000000;
}

.description{
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}